body{

    background-image: url("psychic background.jpg")

}

header{
    color: purple;
    font-weight: bold;

}

ol{
	color: #83878d;
	font-size: 100%;

}

h2{

	color: #83878d;
}

.p1{

	color: blue;
}

.row{

	color: purple;
}

img{

	display: block;
    margin: auto;
    width: 30%;
  }
