body{

    background-image: url("psychic background.jpg")

}

header{
    color: purple;
    font-weight: bold;

}


.p1{

	color: blue;
}

.row{

	color: purple;
}

panel-header{

	background-color: black;
}

img{

	display: block;
    margin: auto;
    width: 30%;
  }
